  body {
      background-color: #FFFFFF;
      color: #666666;
      font-family: Verdana, Arial;
  }

  header {
      background-color: #003058;
      color: #FFFFFF;
      font-family: Georgia;
  }
  }

  header h1 {
      line-height: 140%;
      padding: .5rem;
  }

  nav {
      color: #f3f3f3;
      font-weight: bold;
  }

  h2 {
      color: #424242;
      font-family: Georgia;
  }

  dt {
      color: #003058;
      font-weight: bold;
  }

  .ut {
      color: #BA1C21;
      font-weight: bold;
  }

  footer {
      padding: .70rem;
      font-weight: italic;
      text-align: center;
  }

      {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
  }