body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial;
    (to bottom, #ffffff, #eeeeee);
    background-attachment: fixed;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia;
}
}

header h1 {
    line-height: 140%;
    padding: .5rem;
}

nav {
    color: #f3f3f3;
    font-weight: bold;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: Georgia;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    padding: .70rem;
    font-weight: italic;
    text-align: center;
}

    {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#wrapper {
    background-color: #ffffff;
    min-height: 960px;
    max-width: 2048px;
    margin: auto;
    width: 80%;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3)
}

h3 {
    color: #003058
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

#homehero img {
    background-image: url(utahtechimages/homehero.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}


#studenthero img {
    background-image: url(utahtechimages/studenthero.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

#facultyhero img {
    background-image: url(utahtechimages/facultyhero.jpg);
    width: 100%;
    height: 300px;
    object-fit: cover;
}


nav a {
    text-decoration: none;
}